doctype html
html(lang='ja')
  head
    title= title
    if isRenderRawCss
      style
        include ../public/stylesheets/style.css
    else
      link(rel='stylesheet', href='/stylesheets/style.css')
    block css
  body
    block content
